<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Admin Code</title>
  </head>
  <body>
    <div class="container section">
      <% if (error === 'wrongCode') { %>
      <p class="msg-error">Incorrect admin code, try again.</p>
      <% } %>
      <h1>Do you have an admin code?</h1>
      <h2>If you have an admin code enter it below.</h2>
      <form action="/auth/admin" method="POST" autocomplete="off">
        <input name="code" type="text" placeholder="Enter admin code" />
        <button>Validate</button>
      </form>
      <div class="lower-line"><a href="/home" class="redirect">Cancel</a></div>
    </div>
  </body>
</html>
