<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <h1>Create new message</h1>

    <% if (errors && errors.length > 0) { %>
    <div style="color: red">
      <% errors.forEach(err => { %>
      <p><%= err.msg %></p>
      <% }); %>
    </div>
    <% } %>

    <form action="/message/new" method="POST" autocomplete="off">
      <input
        type="text"
        name="title"
        id="title"
        value="<%= data ? data.title : '' %>"
      />
      <textarea name="message" id="message"><%= data.message || "" %></textarea>
      <button type="submit">Post</button>
    </form>
    <a href="/message/cancelMessage">Cancel</a>
  </body>
</html>
