<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <h1>Create new message</h1>
    <form action="/message/new" method="POST">
      <input type="text" name="title" />
      <textarea name="text"></textarea>
      <button>Post</button>
    </form>
    <a>Cancel</a>
  </body>
</html>
