.message-container {
    padding: 0 18rem;
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 8rem;
    background-color: #CD7A3F;
}

.user {
    display: flex;
    gap: .3rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.full-name {
    font-size: 1.2rem;
    font-family: "InriaSerifBold";
}

.user-greeting {
    color: var(--secondary);
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.new-msg-btn {
    width: 100%;
    box-sizing: border-box;
    align-self: center;
    margin: 3rem 0;
}

.new-msg-btn > a {
    color: var(--primary);
    text-decoration: none;
}

.main-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}

.message-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: .7rem;
}

.message-header {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.message-title {
    font-family: "InriaSerifBold";
    font-size: 1.2rem;
}