:root {
    --primary: #FDFAF2;
    --secondary:#CD7A3F;
    --accent: #EBDACD;
    --black: #000000;
    --max-content-width: 1280px;
    --page-padding: 2rem;
}

@font-face {
    font-family: "InriaSerif";
    src: url("../fonts/InriaSerifRegular.ttf");
}

@font-face {
    font-family: "InriaSerifBold";
    src: url("../fonts/InriaSerifBold.ttf");
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
}

.section {
  padding: 2rem 10rem;
}

body {
    background-color: var(--primary);
    font-family: "InriaSerif";
}

h1 {
    text-align: center;
    margin: 0;
    padding: 1.5rem 0;
    font-size: 3rem;
    font-family: "InriaSerifBold";
    color: var(--secondary);
}
input {
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: solid 2px var(--accent);
    border-radius: .4rem;
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    font-family: "InriaSerif";
}

input::placeholder {
    color: var(--accent);
    font-family: "InriaSerif";
}

button {
    background-color: var(--secondary);
    outline: none;
    border: none;
    height: 4rem;
    width: 100%;
    margin: 2rem 0;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    text-align: center;
    color: var(--primary);
    border-radius: .4rem;
    box-shadow: 0px 2px 2px black;
    font-family: "InriaSerif";
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button:active {
    box-shadow: 0px 1px 1px black;
    transform: translateY(1px);
}

label {
    visibility: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12rem;
}

.lower-line {
    text-align: center;
    color: var(--black);
    font-size: 1rem;
}

.redirect {
    color: var(--secondary);
    text-decoration: underline;
}

.signup-error {
    text-align: center;
}

.login-form {
    gap: 1.5rem;
}

.login-button {
    margin: 1rem 0;
}